<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Newest funds information and prediction!</title>
</head>
<body>
    <h2>Please tell us more...</h2>
    <p><a href="/types">Look at specific funds types!</a></p>
    <p><a href="/funds">Look at specific funds!</a></p>
    <p><a href="/managers">Look at specific funds managers!</a></p>
    <p><a href="/rankings">No preferences, just take a look at different funds!</a></p>
    <br>
    <p><a href="/">Back to the homepage</a></p>
</body>
</html>